/*main image*/
.hero-image {
  background-image: url("coffee-pour.webp");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 20px firebrick;
  border-style: solid;
}

/*main image text*/
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/*ordermain text*/
.ordermain {
  border-style: solid;
  border-color: firebrick #333 firebrick #333;
background:linear-gradient(rgba(0,0,0,1),rgba(255,255,255,1));
    box-shadow:inset 0 0 10px black;
    font-family: 'Lemonada', cursive;
}

/*middle text*/
.intro {
	color: #fff;
    background-color: #333;
    padding: 70px 0;
    text-align: center;
}

/*order text*/
.middlesection {
	color: #fff;
    background-color: #555;
    padding: 70px 0;
    text-align: center;
}

/*footer text*/
.lastsection {
	color: #fff;
    background-color: #333;
    padding: 70px 0;
    text-align: center;
}

/*subheader text*/
.subtextforheader{
    background:linear-gradient(rgba(0,0,0,1),rgba(128,128,128,1),rgba(178,34,34,1));
    color:white;
    font-family: 'Roboto Mono', monospace;
}

/*order here text*/
.section-heading{
    font-family: 'Bungee', cursive;
    position: relative;
    margin-top: -50px;
    margin-bottom: -20px;
    text-align: middle;
    font-size: 30px;
    color: #fff;
}

/*order here text hover*/
.section-heading:hover {
    color: aqua;
}

/*contact text*/
.contact {
    font-family: 'Bungee', cursive;
    margin-top: -50px;
    margin-bottom: -30px;
}

/*coffee order middle section text*/
.coffeeorderhead {
    font-family: 'Bungee', cursive;
}

/*information text*/
.text-light {
    font-family: 'Lemonada', cursive
}

/*hhs website*/
.hhswebsitelink {
    color: #fff
}

/*hhs website hover*/
.hhswebsitelink:hover {
    color:aqua
}

/*coffee menu image*/
.menu{
    max-height:700px;
        position: static;
    margin
    width: 100%;
    margin-top: 20px;
    text-align: right;
}

/*order form*/
.order {
    position: static;
    margin-bottom: 50px;
    margin-top: 20px;
    margin: 
    width: 100%;
    height: 600px;
    text-align: left;
}