.hero-image {
  background-image: url("coffee-pour.webp");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 20px firebrick;
  border-style: solid;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.welcome {
  border-style: solid;
  border-color: firebrick #333 firebrick #333;
background:linear-gradient(rgba(0,0,0,1),rgba(255,255,255,1));
    box-shadow:inset 0 0 10px black;
    font-family: 'Lemonada', cursive;
    
}

.intro {
	color: #fff;
    background-color: #333;
    padding: 70px 0;
    text-align: center;
}
.middlesection {
	color: #fff;
    background-color: #555;
    padding: 70px 0;
    text-align: center;
}
.lastsection {
	color: #fff;
    background-color: #333;
    padding: 70px 0;
    text-align: center;
}

.subtextforheader{
    background:linear-gradient(rgba(100,150,60,1),rgba(200,50,160,1));
    color:white;
    font-family: 'Roboto Mono', monospace;
}
    .menu{
        margin-left:0;
    margin-right: auto;
        height: 750px;
    display:block;
        position: relative; 
        padding-left: 30px;
        top: -575px;
        margin-bottom: -590px;
}
.section-heading{
    font-family: 'Bungee', cursive;
    position: relative;
    margin-top: -50px;
    margin-bottom: -20px;
    text-align: right;
    left: -375px;
}
    
.contact {
    font-family: 'Bungee', cursive;
    margin-top: -50px;
    margin-bottom: -30px;
}
.coffeeorderhead {
    font-family: 'Bungee', cursive;
}
.text-light {
    font-family: 'Lemonada', cursive
}
.hhswebsitelink {
    color: #fff
}
.hhswebsitelink:hover {
    color:aqua
}
.buttonfororder {
    color: #fff
}